<h1>Users</h1>
user#index


<h1>User info</h1>
<%#= image_tag @user.get_profile_image(100,100) %>
<h3>name:<%= @user.name %></h3>
<h3>intrduction:<%= @user.introduction %></h3>

<% if @user == current_user %>
  <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
<% end %>


<table>
    <th>image</th>
    <th>name</th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= image_tag user.get_profile_image(100,100) %></td>
      <td>
         <%= user.name %>
      </td>
      <td>
        <%= link_to user_path(user.id) do %>
          Show
        <% end %>
      </td>
    </tr>
  <% end %>
</table>