<h1>book#show</h1>
<div><%= flash[:notice] %></div>

<h1>Book detail</h1>

<table>
  <tr>
    <th></th>
    <th>Title</th>
    <th>Opinion</th>
  </tr>
  <tr>
    <td><%= image_tag @book.user.get_profile_image(100,100) %>
      <br><%= link_to user_path(params[:id]) do %>
            <%= @book.user.name %>
          <% end %>
    </td>
    <td><%= @book.title %></td>
    <td><%= @book.body %></td>

      <% if @book.user == current_user %>
      <td>
        <%= link_to "Edit", edit_book_path(@book) %>
      </td>
      <td>
        <%= link_to "Destroy", book_path(@book), method: :delete %>
      </td>
      <% end %>
  </tr>
</table>